a{
    text-decoration: none;
    color: red;

}

svg {
    fill: #ccc;
    transition: fill 0.3s ease; 
}

svg:hover {
    fill: #000; 
    transform: scale(1.1); 
    transition: fill 0.3s ease, transform 0.3s ease; 
}
  
.body {
    position: relative;
    margin: 20px auto;
    border: 1px solid #dddd;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-2 {
    padding: 10px;
}
.box-2 a:hover {
    color: #000;
    transform: scale(1.1); 
    transition: fill 0.3s ease, transform 0.3s ease;  
}
  

.box-1{
    width: 60%;
} 

.h-1 {
    font-size: 24px;
    font-weight: 700;
}

.text-muted {
    font-size: 14px;
}

.container .box {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #615f5fdd;
}




.footer.text-muted {
    font-size: 10px;
}


@media (max-width:767px) {
    body {
        padding: 10px;
    }

    .body {
        width: 100%;
        height: 100%;
    }

    .box-1 {
        width: 100%;
    }

    .box-2 {
        width: 100%;
        height: 440px;
    }
}