<div class="container">
    <div>
        <div class="mt-5 pt-5 row">
            <p class="col-md-6 col-sm -10"><b>اسم المحل: </b>محل العربي </p>
            <p class="col-md-6 col-sm -10"><b>العنوان: </b>بني سويف - اهناسيا المدينه - امام المرر </p>
        </div>
    </div>
    <div class="d-md-block d-lg-flex justify-content-center py-5">
        <div class="col-md-12 col-lg-6 mb-md-4 mb-lg-0">
            <img src="assets/img/e-com1.jpg" class="w-100 object-fit-cover" alt="">
        </div>
        <div class="col-md-12 col-lg-6 px-5">
                <div class="mb-5">
                    <h3 class="mb-5">اسم المنتج</h3>
                    <p><b>الوصف:</b> منتج جميل جدا جدا مناسب للبيت و الخروج </p>
                    <p><b>الالوان المتاحه:</b> ابيض, اسود, احمر </p>
                    <p><b>السعر:</b> 125 جنية </p>
                </div>
                
        </div>
    </div>
</div>

<div>
    <h3 class="text-center text-capitalize">related products</h3>
    
</div>
