<!-- cover photo -->
<div id="cover-image" class="w-100 position-relative">
    <div class="w-100 h-100">
        <img src="assets/img/e-com1.jpg" alt="" class="w-100 h-100 object-fit-cover">
    </div>
    <!-- shop profile image -->
    <div id="profile-image" class="position-absolute bg-danger border-white border-1 border">
    </div>
</div>

<div class="mt-5">
    <div>
        <h3 class="text-center my-3">محل المعلم العربي</h3>
        <span class="w-25 m-auto" ></span>
    </div>
    <div id="shop-details" class="mt-5 m-auto d-md-block justify-content-between d-lg-flex">
        <div>
            <p><b>العنوان</b>: بني سويف - اهناسيا المدينه - امام المرور</p>
            <p><b>رقم التليفون</b>: 01201234567</p>
        </div>
        <div>
            <p> <b>التخصص</b>: ملابس</p>
        </div>
    </div>
</div>

<div style="min-height: 50vh;" class="my-5">
    <div class="row w-75 m-auto justify-content-around">
        <div class="card col-lg-3 col-md-5 col-sm-10
         my-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-10
         my-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-10
         my-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-10
         my-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-10
         my-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-10
         my-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-10
         my-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-10
         my-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-10
         my-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>
</div>